*{
	padding: 0px;
	margin: 0px;
}
/************公共属性************/
.content{
	position: absolute;
	top: 0px;	
	left: 0px;
}
/*背景音乐*/
.audio{
	position: fixed;
	top: 10%;
	right: 10%;
	width: 30px;
	height: 30px;
	background-image: url(../img/normalmusic.svg);
	background-size: 30px 30px;
	animation: audio 1s infinite linear;
}
@keyframes audio{
	from{}
	to{transform: rotate(360deg);}
}

.page{
	position: relative;/*相对*/
}
.page1{
	background-color: darkturquoise;
}
.page2{
	background-color: black;
}
.page3{
	background-color: tan;
}
.page4{
	background-color: #cccccc;
}
.page5{
	background-color: blue;
}
.page6{
	background-color: chartreuse;
}
.page7{
	background-color: blueviolet;
}
.page8{
	background-color: crimson;
}

/*********page1**********/
.page1 img{
	position:absolute;
}

.page1_01{
	width: 100%;
	height: 68%;
	top: 0px;
	display: none;
}

.page1_02{
	width: 100%;
	height: 100%;
	bottom: 0px;
	display: none;
	transform: scale(1.5);
}
/*通过js加载这个*/
.page1_02_show{
	animation: page1_02 2s both;
}
@keyframes page1_02{
	0%{}
	100%{transform: scale(1);}
}

.page1_03{
	width: 10%;
	height: 5%;
	left: 40%;
	top: 40%;
	display: none;
}
.page1_04{
	width: 10%;
	height: 5%;
	right: 38%;
	top: 70%;
	display: none;

}

.page1 p{
	position:absolute;
	color: white;
	display: none;
}

.text1{
	font-size: 42px;
	top: 45%;
	left: 46%;
}
.text2{
	font-size: 22px;
	top: 52%;
	left: 44%;
}
.text3{
	font-size: 32px;
	top: 56%;
	left: 46%;
}
.text4{
	font-size: 22px;
	top: 61%;
	left: 44%;
}
.text5{
	font-size: 42px;
	top: 64%;
	left: 46%;
}